@import "~bootstrap/scss/bootstrap.scss";

html body {
    background-color: #D1D5DB;
}


#delete {
    box-shadow: none;
    float: right;
}

#task {
    margin-bottom: 0;
    margin-top: 5px;
    float: left;
}